extends layouts/main.pug
block content

 .container.mt-5
    .row 
     each cousre in cousres
        .col-sm-6.col-lg-4.mt-3
            .card(style='width: 18rem;')
                a(href="/user/" + cousre.slug)
                    img.card-img-top(src=cousre.img alt='...')
                .card-body
                    a(href="/user/" + cousre.slug)
                        h5.card-title=cousre.name
                    p.card-text.text-primary= cousre.info
                    a.btn.btn-primary(href='#') See more

block more_content 