extends ../layouts/main.pug
block content
    form.container(method='POST' action='/user/store' enctype="multipart/form-data")
        .mb-3
            label.form-label(for='#name') Name User
            input#name.form-control(type='text' name ='name')
        .mb-3
            label.form-label(for='#info') Info User
            input#name.form-control(type='text' name ='info')
        .mb-3
            label.form-label(for='img') Image file
            input#img.form-control(type='file' name ='img')
  
        button.btn.btn-primary(type='submit') Create User

block more_content