extends ../layouts/main.pug
block content
    .mt-4.container
        .row 
            .col-lg-3
                button.btn.btn-primary Learn
            .col-lg-9 
                h2.text-black=user.name
                img(src='/'+user.img, alt="")
                p.text-black=user.info
block more_content
    